.card_perrito {
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24);
  position: relative;
  background-color: rgb(180, 218, 239);
}

.foto_perrito {
  margin: 30px;
  border: solid white 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24);
}

.fav {
  position: absolute;
  right: 60px;
  top: 60px;
}
